__pycache__
*.egg-info
*.egg
*.pyc

.cache
*_cache

.*-version

.env*
!.env*.sample
.coverage

/*.yaml*
/*_config.py
/wsgi.py

/static/*
!/static/.gitignore
!/static/*.txt

/tool/deliver*
/tool/gitlab-ci-multi-runner
/tool/load-*
!/tool/.gitignore

/vendor

/tmp/log
!/tmp/log/.gitignore
/tmp/coverage
!/tmp/logs/.gitignore
/tmp/_cache
/tmp/_data

/venv*
